/*! normalize.css v2.1.1 | MIT License | git.io/normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

[hidden] {
    display: none
}

audio:not([controls]) {
    display: none;
    height: 0
}

html {
    background: #fff;
    color: #000;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


/*! CONCRETE 5 / FOUNDATION FIX */

#ccm-highlighter {
    margin-top: -49px;
}


/*! MAIN SITE STYLES */


/*! Header Fixed Settings*/

@media only screen and (max-width: 400px) {
    .header_area {
        width: 100%;
        left: 0;
        position: fixed;
        top: 0;
        z-index: 99;
    }
    .slider-wrapper,
    .heading {
        margin-top: 95px;
    }
}

.logo {
    text-align: center;
    background: #FFF;
}

@media only screen and (min-width: 768px) {
    .logo {
        height: 130px;
    }
}

/*! Nav -------------------------------------------- */ 

            /*! Social buttons in nav */ 

            span.nav_social_links {
            margin-left: 20px;
            vertical-align: middle;
            font-size: x-large;
            }

            @media only screen and (max-width: 767px) {
                
                    span.nav_social_links a{ 
                        
                        color:#FFFFFF;  

                    }
            }


/*! Home -------------------------------------------- */ 

.slider_wrapper {
    margin: 0 auto;
    max-width: 1300px;
}

.slider {
    margin: 0 0 20px 0;
}

.container .home-heading  h1{
    font-size: 25px;
    padding: 20px 0px;
    color: #2c5855;
    border-bottom: none;
}


@media only screen and (max-width: 400px) {
    .slider {
        margin: 80px 0 20px 0;
    }
}

.img_link {
    margin: 0 0 30px 0;
    text-align: center
}


/*! Footer  -------------------------------------------- */

.footer {
    min-height: 100px;
    background: #003834;
    padding: 20px 0px;
}

.footer p,
.footer p a {
    color: #FFF;
    margin: 0;
}

.footer p a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 400px) {
    span.obfuscated_link_text {
        font-size: 16px;
    }
}

/*! Main Elements*/

.heading h1 {
    text-align: center;
    padding: 65px 0 10px 0;
    margin-top: 0em;
    margin-bottom: 1em;
}

@media only screen and (max-width: 400px) {
    .heading h1 {
        padding: 120px 0 10px 0;
    }
}

.gallery h2 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: #666;
}

.content img {
    margin: 0 0 20px 0;
}

.content {
    margin: 0 0 25px 0;
}


/* GOOGLE MAPS iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*! PROJECT GALLERY */

.project_gallery_article h4 {
    text-align: center;
}

.project_gallery_article img {
    margin: 10px;
}

@media only screen and (min-width: 814px) {
    .project_gallery_article img:hover {
        box-shadow: 0px 0px 15px 5px #b7b7b7;
        -webkit-transition: box-shadow 0.4s ease-in-out 0s;
        -moz-transition: box-shadow 0.4s ease-in-out 0s;
        -o-transition: box-shadow 0.4s ease-in-out 0s;
        -ms-transition: box-shadow 0.4s ease-in-out 0s;
        transition: box-shadow 0.4s ease-in-out 0s;
    }
}


@media only screen and (min-width: 768px) {
    nav.top-bar {
        text-align: center;
    }
    section.top-bar-section {
        display: inline-block;
    }
    section.top-bar-section ul li {
        text-align: left;
    }
}

@media only screen and (min-width: 40em) {
    .heading h1 {
        border-top: 1px solid #CCC;
    }
}

.header_image {
    margin: 0 0 40px 0;
}

.top_border {
    border-top: 1px solid #999
}


/*! FOOTER */

.copyright {
    margin: 15px 0 55px 0;
}

.copyright p {
    color: #222;
    text-align: center;
    font-size: 13px;
}

.copyright a {
    color: #222;
    text-decoration: none;
}


/* FOUNDATION OVERRIDES */


/* Helpful Typography Defaults */

em,
i {
    font-style: italic;
    line-height: inherit;
}

strong,
b {
    font-weight: bold;
    line-height: inherit;
}

small {
    font-size: 60%;
    line-height: inherit;
}

code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: bold;
    color: #7f0a0c;
}


/* Lists */

ul,
ol,
dl {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: inherit;
}

ul,
ol {
    margin-left: 0px;
}


/* Unordered Lists */

ul li ul,
ul li ol {
    margin-left: 1.25em;
    margin-bottom: 0;
    font-size: 1em;
    /* Override nested font-size change */
}

ul.square li ul,
ul.circle li ul,
ul.disc li ul {
    list-style: inherit;
}

ul.square {
    list-style-type: square;
}

ul.circle {
    list-style-type: circle;
}

ul.disc {
    list-style-type: disc;
}

ul.no-bullet {
    list-style: none;
}


/* Ordered Lists */

ol li ul,
ol li ol {
    margin-left: 1.25em;
    margin-bottom: 0;
}


/* Definition Lists */

dl dt {
    margin-bottom: 0.3em;
    font-weight: bold;
}

dl dd {
    margin-bottom: 0.75em;
}


/* Abbreviations */

abbr,
acronym {
    text-transform: uppercase;
    font-size: 90%;
    color: #222222;
    border-bottom: 1px dotted #dddddd;
    cursor: help;
}

abbr {
    text-transform: none;
}


/* Blockquotes */

blockquote {
    margin: 0 0 1.25em;
    padding: 0.5625em 1.25em 0 1.1875em;
    border-left: 1px solid #dddddd;
}

blockquote cite {
    display: block;
    font-size: 0.8125em;
    color: #555555;
}

blockquote cite:before {
    content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
    color: #555555;
}

blockquote,
blockquote p {
    line-height: 1.6;
    color: #6f6f6f;
}


/* Microformats */

.vcard {
    display: inline-block;
    margin: 0 0 1.25em 0;
    border: 1px solid #dddddd;
    padding: 0.625em 0.75em;
}

.vcard li {
    margin: 0;
    display: block;
}

.vcard .fn {
    font-weight: bold;
    font-size: 0.9375em;
}

.vevent .summary {
    font-weight: bold;
}

.vevent abbr {
    cursor: default;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 0 0.0625em;
}


/* Alert box ERROR */

.alert-box {
    border-style: none;
    display: block;
    font-weight: bold;
    margin-bottom: 1.25em;
    position: relative;
    padding: 0.6875em 1.3125em 0.75em 0.6875em;
    font-size: 0.875em;
    background-color: #C86B5C;
    color: white;
}


/* Alert box SUCCESS */

.alert-box.success {
    background-color: #619993;
    border-color: #457a1a;
    color: white;
}


/* Button */

button,
.button {
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 1.25em;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 0.75em;
    padding-right: 1.5em;
    padding-bottom: 0.8125em;
    padding-left: 1.5em;
    font-size: 1em;
    background-color: #867871;
    color: white;
    border: 1px solid #9F857B;
    border-radius: 10px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: #75625A;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    color: white;
}


/* Form elements */

.container input[type="text"],
.container input[type="password"],
.container input[type="date"],
.container input[type="datetime"],
.container input[type="datetime-local"],
.container input[type="month"],
.container input[type="week"],
.container input[type="email"],
.container input[type="number"],
.container input[type="search"],
.container input[type="tel"],
.container input[type="time"],
.container input[type="url"],
.container textarea {
    background-color: #CFDFDD;
    font-family: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875em;
    margin: 0 0 1em 0;
    padding: 0.5em;
    height: 2.3125em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    border-radius: 7px;
}

.container input[type="text"]:focus,
.container input[type="password"]:focus,
.container input[type="date"]:focus,
.container input[type="datetime"]:focus,
.container input[type="datetime-local"]:focus,
.container input[type="month"]:focus,
.container input[type="week"]:focus,
.container input[type="email"]:focus,
.container input[type="number"]:focus,
.container input[type="search"]:focus,
.container input[type="tel"]:focus,
.container input[type="time"]:focus,
.container input[type="url"]:focus,
.container textarea:focus {
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border-color: #999999;
}

.container input[type="text"]:focus,
.container input[type="text"]:hover,
.container input[type="password"]:focus,
.container input[type="password"]:hover,
.container input[type="date"]:focus,
.container input[type="date"]:hover,
.container input[type="datetime"]:focus,
.container input[type="datetime"]:hover,
.container input[type="datetime-local"]:focus,
.container input[type="datetime-local"]:hover,
.container input[type="month"]:focus,
.container input[type="month"]:hover,
.container input[type="week"]:focus,
.container input[type="week"]:hover,
.container input[type="email"]:focus,
.container input[type="email"]:hover,
.container input[type="number"]:focus,
.container input[type="number"]:hover,
.container input[type="search"]:focus,
.container input[type="search"]:hover,
.container input[type="tel"]:focus,
.container input[type="tel"]:hover,
.container input[type="time"]:focus,
.container input[type="time"]:hover,
.container input[type="url"]:focus,
.container input[type="url"]:hover,
.container textarea:focus,
.container textarea:hover {
    background: #fafafa;
    border-color: #999999;
    outline: none;
}

textarea {
    height: auto;
    min-height: 80px;
}

label {
    font-size: 0.875em;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: 500;
    margin-bottom: 0.5em;
}


/*!--------------------------------------------------------------------
STYLES "Outdated Browser"
Version:    1.0.1 - 2014
author:     Burocratik
website:    http://www.burocratik.com
* @preserve
-----------------------------------------------------------------------*/

#outdated {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1500;
    background-color: #f25648;
    color: #fff
}

* html #outdated {
    position: absolute
}

#outdated h6 {
    font-size: 25px;
    line-height: 25px;
    margin: 30px 0 10px
}

#outdated p {
    font-size: 12px;
    line-height: 12px
}

#outdated #btnUpdateBrowser {
    display: block;
    position: relative;
    padding: 10px 20px;
    margin: 30px auto 0;
    width: 180px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    cursor: pointer
}

#outdated #btnUpdateBrowser:hover {
    color: #f25648;
    background-color: #fff
}

#outdated .last {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 15px;
    height: 15px
}

#outdated #btnCloseUpdateBrowser {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 36px
}

/*! SCROLL TO TOP  -----------------------------------------------------------------*/


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(153, 208, 198, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #81d1bc;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
