/*! TYPOGRAPHY */


/* Default Link Styles */

a {
    color: #538D87;
    text-decoration: none;
    line-height: inherit;
}

a:hover,
a:focus {
    color: #5D8C86;
}

a img {
    border: none;
}


/* Default paragraph styles */

p {
    font-size: 19px;
    letter-spacing: 0.2px;
    line-height: 1.5em;
    color: #000;
    font-family: 'Lora', serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -moz-osx-font-smoothing: grayscale;
    margin: 0 0 1em 0;
}

.content p a {
    text-decoration: underline
}

.container li{
    color:#003834;
}


p aside {
    font-size: 0.875em;
    line-height: 1.35;
}


/* Default header styles */

.container h1 {
    font-family: 'Lora', "Times New Roman", serif;
    font-weight: normal;
    font-style: normal;
    color: #6e8072;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0.2em;
    margin-bottom: 1em;
    line-height: 1.2125em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    border-bottom: solid 1px #CCCCCC;
}

.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    font-family: 'Lora', "Times New Roman", serif;
    font-weight: normal;
    font-style: normal;
    color: #7A6A62;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    line-height: 1.2125em;
    letter-spacing: 0.1em;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 60%;
    color: #6f6f6f;
    line-height: 0;
}

.container h2 {
    font-size: 25px;
}

.container h3 {
    font-size: 22px;
}

.container h4 {
    font-size: 23px;
}

.container h5 {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.container h6 {
    font-size: 16px;
}

@media only screen and (min-width: 768px) {
    .container h1, .container h2, .container h3, .container h4, .container h5, .container h6 {
        line-height: 1.2;
    }
    .container h1 {
        font-size: 30px;
    }
    .container h2 {
        font-size: 25px;
    }
    .container h3 {
        font-size: 27px;
    }
    .container h4 {
        font-size: 23px;
    }
}

hr {
    border: solid #dddddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0;
}




ul,
ol {
    font-size: 16px;
    margin-left: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Fix for webkit rendering */
}

.container .content ul{
    font-family: 'Lora', "Times New Roman", serif;
    font-size: 19px;
}

.centered-text{
    text-align: center;
}


/*! FOOTER */

.footer_telephone p {
    font-style: normal;
    color: #7A6A62;
    text-rendering: optimizeLegibility;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    font-size: 2.6em;
    line-height: 1.2125em;
}


/*! SOCIAL ICONS */

.button_social {
    text-align: center;
}

.button_social a {
    text-decoration: none;
    padding: 0px;
    color: #807373;
    font-weight: normal;
    display: inline-block;
    margin: 0px 0px;
    font-size: 1.3em;
}

.button_social a:hover {
    color: #CCCCCC;
}

.button_social [data-icon]:before,
.button_social [class^="icon-"]:before,
.button_social [class*=" icon-"]:before {
    font-size: 45px;
    display: inline-block;
    float: center;
}

@font-face {
    font-family: "icons";
    src: url("fonts/icons/icons.eot");
    src: url("fonts/icons/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons/icons.ttf") format("truetype"), url("fonts/icons/icons.svg#icons") format("svg"), url("fonts/icons/icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "icons";
    content: attr(data-icon);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none !important;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none !important;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
}

.icon-fontawesome-webfont:before {
    content: "a";
}

.icon-facebook-circle:before {
    content: "b";
}

.icon-flickr-circled:before {
    content: "c";
}